@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d9b329;
}

.container {
    text-align: center;
}

#kusbass {
    width: 80%;
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    animation-name: kusbass-click;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    /* animation: kusbass-click 0.3s; */
}

@keyframes click {
    0% {
        width: 512px;
        height: 512px;
    }

    50% {
        rotate: 25deg;
        width: 400px;
        height: 512px;
    }

    100% {
        width: 512px;
        height: 512px;
    }
}

#counter {
    font-size: 72px;
    margin-bottom: 10px;
    font-family: "Oswald", serif;
    color: #241d01;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    }

